<div class="body3">
  <br>
  <h1>Bem Vindo ao GeoTeste</h1>

  <br><br>

  <p>App para encontrar a sua localização atual e URL desejada!</p>

  <img src="../img/geo.jpg" width=500 height=300>

  <br /><br />
</div>